* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-decoration: none; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 10rem; }

p {
  font-size: 2rem;
  text-align: center; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  background-color: #e6ecd6;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

header {
  background-color: white; }

/*LOGO POSICION*/
.enlace {
  max-width: 300px;
  margin-left: 25px;
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: center; }

.logo {
  width: 300px;
  height: none; }

/*BARRA MENU*/
.box-menu {
  width: 100%;
  height: 9rem;
  background: #6f0817;
  padding: 2rem;
  /* para cuando estemos en responsive tengo un espacio en los costados*/ }

.menu {
  max-width: 1200px;
  margin: auto;
  height: 100%; }

.nav-principal {
  margin-left: 5rem; }

nav {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  width: 100%;
  height: 100%; }
  nav > ul {
    height: 100%;
    display: flex; }
    nav > ul > li:first-child > a {
      padding: 2rem 3rem; }
    nav > ul > li > a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: none;
      justify-content: none;
      align-items: center;
      padding: 2rem;
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      transition: all 300ms ease; }
      nav > ul > li > a:hover {
        transform: scale(1.4); }
  nav ul li {
    width: none;
    height: 100%;
    list-style: none;
    position: relative; }
    nav ul li:hover ul {
      visibility: visible;
      opacity: 1;
      top: 6rem; }
    nav ul li ul {
      /*SUB MENU*/
      width: 20rem;
      height: none;
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      background: #919191;
      position: absolute;
      top: 110px;
      padding: 15px 0px;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      z-index: 10;
      transition: all 300ms ease; }
      nav ul li ul::before {
        /*flecha del sub menu*/
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #919191;
        position: absolute;
        top: -12px;
        left: 2rem; }
      nav ul li ul li {
        /*botones del submenu*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        nav ul li ul li a {
          color: white;
          padding: 26px;
          margin-top: 17px;
          font-size: 17px;
          text-transform: uppercase;
          transition: all 300ms ease;
          text-align: center; }
          nav ul li ul li a:hover {
            background: #b9b9b9;
            color: white;
            transform: scale(1.1);
            font-size: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            text-align: center; }

#selected {
  background-color: #8b7470;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }

/*elementos responsivos iconos menu*/
.icono-menu {
  font-size: 26px;
  color: white;
  cursor: pointer;
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center; }

#label-check {
  width: 26px;
  height: 100%;
  display: none; }

#check {
  display: none; }

/*FOOTERRRRR*/
footer {
  background: #6f0817;
  padding: 2rem;
  margin-top: 0px;
  width: 100%;
  height: none; }

.footer__contenido {
  background-color: #8b7470;
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: none;
  border-radius: 2rem; }
  .footer__contenido h3 {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    font-size: 2rem; }
  .footer__contenido ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .footer__contenido ul li {
      float: left;
      margin: 10px 30px 10px 30px;
      display: flex;
      flex-direction: none;
      justify-content: none;
      align-items: center; }
      .footer__contenido ul li svg {
        width: 3rem;
        height: 3rem; }
        .footer__contenido ul li svg path {
          color: #000000; }

/*INDEX.HTML*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: none; }

.box__1i img {
  width: 100%;
  height: auto;
  border-radius: 40px; }

.box__i {
  background: #5c5b5b;
  text-align: center;
  border-radius: 3rem;
  padding: 2rem;
  margin: 30px 0px; }
  .box__i h1 {
    width: fit-content;
    margin: 0 auto;
    background: #b3c04e;
    padding: 1rem;
    border-radius: 2rem; }
  .box__i p {
    background: #919191;
    padding: 15px;
    border-radius: 2rem;
    margin: 20px 0px; }

/*NOSOTROS*/
.fondo-descripcion {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/fabricaNieve.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.box__contenido-nos {
  background: #5c5b5b;
  padding: 6rem;
  border-radius: 3rem 7rem;
  margin: 0px 40px;
  opacity: 85%;
  width: 100%;
  height: none;
  color: white; }
  .box__contenido-nos h4 {
    text-align: center;
    color: #b3c04e; }

/*PRODUCTOSSSS PUERTA VENTANA*/
/*INDICE*/
.indice-venpuer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 0px; }
  .indice-venpuer img {
    width: 100%;
    height: 500px;
    padding: 3rem;
    background: #5c5b5b;
    border-radius: 2rem;
    margin-top: 2rem; }

.indice-colum {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center; }
  .indice-colum a {
    padding: 2rem;
    margin-top: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    background: #8b7470;
    border-radius: 5rem;
    box-shadow: inset 0 0 0 0 #af8d87;
    transition: ease-out 0.3s; }
    .indice-colum a:hover {
      box-shadow: inset 120px 0 0 0 #af8d87;
      transform: scale(1.1); }

/*PRODUCTOSSSS PUERTA VENTANA*/
/*video*/
.titulo-venpuer {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding: 2rem;
  font-size: 80px;
  color: white;
  border-radius: 10rem 30rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  background: #b3c04e; }

.video-venpuer {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none; }
  .video-venpuer iframe {
    width: 100%;
    height: 70rem;
    padding: 3rem;
    background: #b3c04e;
    border-radius: 1rem; }

/*fondo ventanas*/
.fondo-ventanas {
  background: #e6ecd6;
  padding: 6rem 0rem; }
  .fondo-ventanas h2 {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    background: #b3c04e;
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10rem 30rem; }

/*PRODUCTOSSSS PUERTA VENTANA*/
/*tipos de ventana*/
.fondo-tipo-ventana {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10rem;
  margin: 8rem 10rem;
  padding: 3rem;
  background: #919191;
  border-radius: 3rem; }

.carta_ventana-tipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .carta_ventana-tipo h3 {
    margin-bottom: 2rem;
    background: #b3c04e;
    border-radius: 1rem;
    padding: 1rem;
    color: white; }

.imagenes-ventanas img {
  /*para los tipos y direccion de pliegue*/
  width: 100%;
  height: 40rem;
  padding: 1rem;
  margin-top: 2rem;
  background: #5c5b5b;
  border-radius: 5px; }

/*PRODUCTOSSSS PUERTA VENTANA*/
/*direccion de pliegue*/
.carta-ventana {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center; }
  .carta-ventana h3 {
    margin: 2rem;
    background: #b3c04e;
    padding: 1rem;
    border-radius: 30rem 10rem; }

.fondo-ventanas-distintas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: none;
  margin: 3rem 6rem; }
  .fondo-ventanas-distintas img {
    width: 25rem; }

/*PRODUCTOSSSS PUERTA VENTANA*/
/*PERFILES*/
.fondo-perfiles {
  background: #e6ecd6; }
  .fondo-perfiles h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 7rem;
    padding: 2rem;
    border-radius: 10rem 30rem;
    display: flex;
    justify-content: center;
    background: #b3c04e; }

.caja-perfil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 3rem; }

.text-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.fondo-perfiles .caja-perfil .img-perfil img {
  width: 700px;
  height: none; }

.fondo-perfiles .box-perfil .img-perfil img {
  width: none;
  height: 10rem; }

.img-perfil {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center; }

/*PRODUCTOSSSS PUERTA VENTANA*/
/*coloressss*/
.fondo-colores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  padding-top: 3rem;
  background: #e6ecd6; }
  .fondo-colores h2 {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    background: #b3c04e;
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10rem 30rem; }

.fondo-video {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none; }
  .fondo-video video {
    margin: 3rem;
    width: 100%;
    height: 70rem;
    padding: 3rem;
    background: #b3c04e;
    border-radius: 1rem; }

/*PRODUCTOSSSS PUERTA VENTANA*/
/*puertas*/
.fondo-puertas {
  background: #e6ecd6;
  padding-top: 6rem; }

.tipo-puerta {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center; }
  .tipo-puerta h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    background: #b3c04e;
    border-radius: 1rem;
    padding: 1rem;
    color: white; }
  .tipo-puerta p {
    margin: 4rem 8rem; }

.puerta img {
  width: none;
  height: 60rem;
  padding: 1rem;
  background: #5c5b5b;
  border-radius: 5px; }

/*PRODUCTOSSSS MAMPARA TECNO */
.indice-mamtectec {
  margin-top: 3rem; }
  .indice-mamtectec section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: none; }
    .indice-mamtectec section div {
      display: flex;
      flex-direction: none;
      justify-content: center;
      align-items: none; }

.enlaces-mamtectec a {
  padding: 2rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  background: #8b7470;
  border-radius: 5rem;
  box-shadow: inset 0 0 0 0 #af8d87;
  transition: 1s; }
  .enlaces-mamtectec a:hover {
    box-shadow: inset 120px 0 0 0 #af8d87;
    transform: scale(1.1); }

.fondo-mamtectec h1 {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  background: #b3c04e;
  width: fit-content;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 10rem 30rem;
  margin-top: 3rem;
  color: white; }

.fondo-mamtectec p {
  margin: 3rem 10rem;
  background: #b3c04e;
  border-radius: 2rem;
  padding: 1rem; }

.imagen-mamparas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: none;
  gap: 5rem;
  margin: 3rem 5rem; }
  .imagen-mamparas img {
    width: 100%;
    height: 50rem;
    transition: .3s;
    background-color: #6f0817;
    padding: 1rem;
    border-radius: 1rem; }
    .imagen-mamparas img:hover {
      transform: scale(1.2); }

.video-tec iframe {
  width: 100%;
  height: 70rem;
  margin: 4rem 0rem; }

.imagen-text .img-tec {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  width: 100%;
  height: none;
  margin-top: 4rem; }

/*MARCASSS*/
.fondo-marca h1 {
  width: fit-content;
  color: white;
  background-color: #919191;
  padding: 3rem;
  margin: 3rem auto;
  border-radius: 2rem 5rem; }

.imagenes-marcas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 3rem;
  padding: 4rem;
  padding-bottom: 7rem;
  border-radius: 4rem;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  background-color: white; }
  .imagenes-marcas img {
    width: 100%;
    height: 35rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s; }
    .imagenes-marcas img:hover {
      transform: scale(1.05);
      transition: 0.6s; }

.gu-color {
  background: white; }

.imagenes-obra {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
  padding-bottom: 7rem;
  background: #b3c04e;
  border-radius: 4rem 4rem 0rem 0rem;
  box-shadow: 0rem 5rem 3rem 0rem rgba(0, 0, 0, 0.5);
  transition: 0.3s; }
  .imagenes-obra img {
    width: 100%;
    height: 35rem;
    box-shadow: 0rem 1rem 2rem 0rem rgba(0, 0, 0, 0.5);
    transition: 0.3s; }
    .imagenes-obra img:hover {
      transform: scale(1.1);
      transition: 0.6s; }

/*CONTACTO*/
.fondo-contacto {
  background: radial-gradient(#e6ecd6, #af8d87); }

.formulario {
  width: 100%;
  height: 100rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  background: #919191;
  box-shadow: 0rem 3rem 1rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 10rem 10rem; }

.form {
  width: 100%;
  height: none;
  background: #b3c04e;
  padding: 3rem;
  border-radius: 10rem 10rem; }

.form-title {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;
  background: #6f0817;
  padding: 1rem;
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  border-radius: 2rem; }

.form-lain {
  background: #af8d87;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  padding: 2rem 3rem;
  font-size: 25px;
  border-radius: 4rem 7rem; }

.form-label {
  margin: 1rem;
  font-size: 2rem;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  background: #8b7470;
  border-radius: 1rem; }

.form-input {
  width: 100%;
  height: 5rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 16px; }

.form-select {
  width: 100%;
  height: 5rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  color: #919191; }

.form-textarea {
  width: 100%;
  height: 7rem;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  vertical-align: center; }

.form-enviar {
  width: 100%;
  height: 6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: #772330;
  transition: .2s;
  cursor: pointer; }
  .form-enviar:hover {
    background: #6f0817; }

.ubicacion h2 {
  width: fit-content;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  text-align: center;
  text-transform: uppercase;
  background: #6f0817;
  color: white; }

.ubicacion-maps iframe {
  width: 100%;
  height: 70rem; }

/*celular*/
@media screen and (max-width: 420px) {
  /*navegador*/
  .nav-principal {
    margin-left: 0rem; }
  .logo {
    width: 200px; }
  nav > ul {
    flex-direction: column;
    background-color: #6f0817;
    position: absolute;
    top: 150px;
    width: 100%;
    height: 0px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden; }
    nav > ul > li {
      margin-left: 0rem; }
      nav > ul > li:first-child {
        background-position: center; }
      nav > ul > li > a:hover {
        transform: scale(1); }
  nav ul li:hover ul {
    /*flecha del sub menu*/
    top: 9rem; }
  nav ul li a {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none; }
  nav ul li ul {
    left: 95px;
    margin-top: 15px; }
    nav ul li ul::before {
      left: 8rem; }
  #selected {
    transform: scale(1);
    margin-top: 10px; }
  #label-check {
    display: block; }
  .icono-menu {
    display: flex; }
  #check:checked ~ nav > ul {
    width: 100%;
    height: 70rem;
    visibility: visible;
    opacity: 1; }
  /*FOOTER*/
  .footer__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__contenido h3 {
      display: flex;
      text-align: center;
      font-size: 16px;
      margin: 20px 20px 10px 20px; }
    .footer__contenido ul li {
      float: left;
      margin: 20px 20px;
      display: flex;
      align-items: center; }
      .footer__contenido ul li svg {
        width: 25px;
        height: 25px; }
  /*NOSOTROS*/
  .box__contenido-nos {
    height: auto; }
    .box__contenido-nos h4 {
      text-align: center;
      color: #b3c04e;
      font-size: 70px; }
  /*PRODUCTOS VENTANAS--INDICE*/
  .indice-venpuer {
    grid-template-columns: repeat(1, 1fr); }
  .indice-venpuer img {
    height: 400px; }
  /*PRODUCTOSSSS PUERTA VENTANA*/
  /*video*/
  .titulo-venpuer {
    font-size: 40px; }
  .video-venpuer iframe {
    height: auto;
    padding: 10px; }
  /*PRODUCTOSSSS PUERTA VENTANA*/
  /*tipos de ventana*/
  .fondo-tipo-ventana {
    grid-template-columns: repeat(1, 1fr); }
  .fondo-tipo-ventana {
    margin: 30px 0px; }
  .imagenes-ventanas img {
    /*para los tipos y direccion de pliegue*/
    width: 100%;
    height: auto; }
  /*PRODUCTOSSSS PUERTA VENTANA*/
  /*direccion de pliegue*/
  .carta-ventana {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center; }
  .fondo-ventanas-distintas {
    grid-template-columns: repeat(1, 1fr); }
    .fondo-ventanas-distintas img {
      width: 250px;
      height: auto; }
  /*PRODUCTOSSSS PUERTA VENTANA*/
  /*PERFILES*/
  .fondo-perfiles h2 {
    margin-bottom: 40px;
    width: 100%; }
  .caja-perfil {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .text-perfil {
    width: 100%; }
  .fondo-perfiles .caja-perfil .img-perfil img {
    width: 100%; }
  .fondo-perfiles .box-perfil .img-perfil img {
    width: 100%; }
  /*COLORESSS*/
  .fondo-video video {
    height: auto;
    padding: 10px; }
  /*MAMPARAS TECCCCCCC--INDICE*/
  .indice-mamtectec section {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem; }
  .enlaces-mamtectec a {
    font-size: 30px; }
  .imagen-mamparas {
    grid-template-columns: repeat(1, 1fr); }
    .imagen-mamparas img {
      height: auto; }
  .fondo-mamtectec p {
    margin: 10px; }
  .video-tec iframe {
    height: 400px; }
  .imagen-text .img-tec img {
    width: 100%; }
  /*MARCASSS*/
  .fondo-marca h1 {
    text-align: center; }
  .imagenes-marcas {
    grid-template-columns: repeat(1, 1fr); }
    .imagenes-marcas img {
      height: auto; }
  .imagenes-obra {
    grid-template-columns: repeat(1, 1fr); }
    .imagenes-obra img {
      height: auto; } }
