$color-negro: #000000;
$color-blanco:white;
$color-secundario: #8b7470;
$color-terciario:#6f0817;
$color-tercieario-claro:#772330;
$color-gris-blanco:#b9b9b9;
$color-gris-claro:#919191;
$color-gris:#5c5b5b;
$color-verde_claro:#b3c04e;
$color-verde_fondo:#e6ecd6;
$color-rojo_claro:#af8d87;
$fuente_principal:'IBM Plex Sans Condensed', sans-serif;