
header{
    background-color: $color-blanco;
}

/*LOGO POSICION*/
.enlace{
    max-width: 300px;
    margin-left: 25px;
    @include propiedades-flex (none, none, center);
}

.logo {
    @include sizes (300px,none);
}

/*BARRA MENU*/

.box-menu{
    @include sizes (100%,9rem);
    background: $color-terciario;
    padding: 2rem; /* para cuando estemos en responsive tengo un espacio en los costados*/
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.nav-principal{
    margin-left: 5rem;
}
nav{
    @include propiedades-flex (none, center, none);
    @include sizes (100%,100%);
    > ul{
        height: 100%;
        display: flex;
        > li:first-child > a{
            padding: 2rem 3rem;
        }
        > li > a{
            @include sizes (100%,100%);
            @include propiedades-flex (none, none, center);
            padding: 2rem;
            color: $color-blanco;
            text-transform: uppercase;
            font-size: 20px;
            transition: all 300ms ease;
            &:hover{
                transform: scale(1.4);
            }
        }
    }
    ul{
        li{
            @include sizes (none,100%);
            list-style: none;
            position: relative;
            &:hover ul{
                visibility: visible;
                opacity: 1;
                top: 6rem;
            }
            ul{/*SUB MENU*/
                @include sizes (20rem,none);
                @include propiedades-flex (column, none, none);
                background: $color-gris-claro;
                position: absolute;
                top: 110px;
                padding: 15px 0px;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
                z-index: 10;
                transition: all 300ms ease;
                &::before{/*flecha del sub menu*/
                    content: "";
                    @include sizes (0,0);
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom: 12px solid $color-gris-claro;
                    position: absolute;
                    top: -12px;
                    left: 2rem;   
                }
                li{/*botones del submenu*/
                    @include propiedades-flex (column, center, center);
                    text-align: center;
                    a{
                        color: $color-blanco;
                        padding: 26px;
                        margin-top: 17px;
                        font-size: 17px;
                        text-transform: uppercase;
                        transition: all 300ms ease;
                        text-align: center;
                        &:hover{
                            background: $color-gris-blanco;
                            color: $color-blanco;
                            transform: scale(1.1);
                            font-size: 20px;
                            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
                            text-align: center;
                        
                        }
                    }
                }
            }
        }
    }
}
#selected{
    background-color: $color-secundario;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
/*elementos responsivos iconos menu*/

.icono-menu{
    font-size: 26px;
    color:$color-blanco;
    cursor: pointer;
    @include sizes (2rem,100%);
    display: flex;
    align-items: center;
}
#label-check{
    @include sizes (26px,100%);
    display: none;
}
#check{
    display: none;
}
