/*INDEX.HTML*/
.contenedor{
    @include propiedades-grid (repeat(1,1fr),center,none);
}

.box_ii{
    background: $color-gris;
    text-align: center;
    border-radius: 3rem;
    padding: 2rem;
    margin: 30px 0px;
    h1{
        width: fit-content;
        margin: 0 auto;
        background: $color-verde_claro;
        padding: 1rem;
        border-radius: 2rem;
    }
    p{
        background: $color-gris-claro;
        padding: 15px;
        border-radius: 2rem;
        margin: 20px 0px;
    }
}

.box_1ii img{
    @include sizes (100%,auto);
    border-radius: 40px;
}
.box_2ii{
    @extend .box_1ii;
}

.box_iii{
    @extend .box_ii;
}
/*Siendo que en mi codigo css no era necesario utilizar un extend y a fines de cumplir con la consigna impuesta, forcé el uso de un extend en esta sección. Entiendo que usando una misma clase era mas que suficiente, pero lo hice a fines demostrativos, de que se usar el extend*/